In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2022-09-12 19:40:14,-33.5906,26.8910,57.11,68,0,13.56
1,1,Yellowknife,CA,2022-09-12 19:40:14,62.4560,-114.3525,50.56,57,40,4.61
2,2,Ponta Do Sol,PT,2022-09-12 19:40:15,32.6667,-17.1000,76.01,78,88,12.10
3,3,Atuona,PF,2022-09-12 19:40:15,-9.8000,-139.0333,76.57,77,19,19.64
4,4,Xichang,CN,2022-09-12 19:40:16,27.8964,102.2634,60.78,91,48,0.83

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Ponta Do Sol,PT,2022-09-12 19:40:15,32.6667,-17.1000,76.01,78,88,12.10
3,3,Atuona,PF,2022-09-12 19:40:15,-9.8000,-139.0333,76.57,77,19,19.64
6,6,Bethel,US,2022-09-12 19:40:16,41.3712,-73.4140,81.37,70,20,3.44
9,9,Victoria,HK,2022-09-12 19:35:32,22.2855,114.1577,86.38,70,0,1.99
10,10,Sabang,ID,2022-09-12 19:40:18,5.8933,95.3214,81.77,74,68,10.25
13,13,Tucurui,BR,2022-09-12 19:40:19,-3.7661,-49.6725,86.63,51,94,5.21
14,14,Ouallam,NE,2022-09-12 19:40:19,14.3188,2.0866,86.74,53,58,8.39
16,16,Tucumcari,US,2022-09-12 19:40:20,35.1717,-103.7250,82.24,42,0,6.91
19,19,Jamestown,US,2022-09-12 19:40:21,42.0970,-79.2353,76.05,53,40,3.44
20,20,Sur,OM,2022-09-12 19:40:22,22.5667,59.5289,85.37,66,40,11.52

In [12]:
preferred_cities_df.count()

City_ID       191
City          191
Country       191
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2   Ponta Do Sol      PT     76.01  32.6667  -17.1000
3         Atuona      PF     76.57  -9.8000 -139.0333
6         Bethel      US     81.37  41.3712  -73.4140
9       Victoria      HK     86.38  22.2855  114.1577
10        Sabang      ID     81.77   5.8933   95.3214
13       Tucurui      BR     86.63  -3.7661  -49.6725
14       Ouallam      NE     86.74  14.3188    2.0866
16     Tucumcari      US     82.24  35.1717 -103.7250
19     Jamestown      US     76.05  42.0970  -79.2353
20           Sur      OM     85.37  22.5667   59.5289

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))